.loader {
    width: 150px;
    height: 150px;
    border-radius: 50% ;
    border: 3px dashed #3232ff;
    border-left: none;
    animation: rotate 1s infinite linear;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

