* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../public/images/fon-pattern.jpg");
    min-height: 100vh;
}

.App {
    //$min_size: 700px;
    //$max_size: 1200px;
    //width: calc($min_size + ($max_size - $min_size) * ((100vw - 500px) / (1920–500)));
    width: 80%;
    margin-top: 20px;
    background-color: white;
    padding: 20px;
    opacity: 0.95;
}

.catalog, .booking, #editor {
    margin: 10px 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border: 2px solid #002b75;
    margin-top: 15px;
    border-radius: 10rem;
    font-size: 18px;
    /*cursor: pointer;*/
}

.navBar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #000210;
    height: 4rem;
    align-items: center;
    padding: 0 60px;
}

.link-group {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #000210;
    height: 4rem;
    align-items: center;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
}

.btn-flip {
    padding: .55rem 1.05rem;
    color: #fff;
    background-color: #00021a;

    display: inline-block;
    text-transform: uppercase;
    cursor: pointer;

    letter-spacing: .03rem;
    outline: 2px ridge rgb(220, 0, 0);
    border-radius: 10rem;

    transition: all .3s;
}

.btn-flip:hover {
    background-color: rgb(220, 0, 0);
}

#note {
    position: absolute;
    z-index: 101;
    top: 0;
    left: 0;
    right: 0;
    background: #fde073;
    text-align: center;
    line-height: 2.5;
    overflow: hidden;
    -webkit-box-shadow: 0 0 5px black;
    -moz-box-shadow:    0 0 5px black;
    box-shadow:         0 0 5px black;
}

