.myModal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    display: none;
    background: rgba(0,0,0, 0.5);
}

.myModalContainer {
    padding: 25px;
    background: white;
    border-radius: 16px;
    /*min-width: 60%;*/
    /*max-width: 70%;*/
    width: 60%;
    height: auto;
    min-height: 40%;
    overflow-y: scroll;
}

.myModalContent {
}

.myModal.active {
    display: flex;
    justify-content: center;
    align-items: center;
}